body{
  background-image: url(./image/bimage.webp);
  }
  ul.heading {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.heading li {float: left;}
  
  ul.heading li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  ul.heading li a:hover:not(.active) {background-color: #111;} 
  ul.heading li a.active {background-color: #04AA6D;}
  ul.heading li a.personal {background-color:aquamarine;}
  ul.heading li a.social {background-color: darkgreen;}
  ul.heading li.right {float: right;}
  @media screen and (max-width: 600px) {
    ul.heading li.right, 
    ul.heading li {float: none;}
  }

  h1{
    color: aqua;
    text-align:center;
  }
  h2{
    color: red;
    text-align:center;
    border-style: double;
    background-color: antiquewhite;
  }
  p{
    color:brown;
    font-size:larger;
    border-style: solid;
    text-align: center;
    background-color: beige;
  }
   nav li {
    float: left;
  }
  
   nav li  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .profile {
    flex: 1;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
  }
  
  .profile img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }

  .info {
    flex: 2;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px,10px;
    height:500px;
  }

  .button {
    background-color:brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }
.portfolio{
  margin-bottom: 180px;
}

.container{
  margin-top: 0px;
}
  .edu{
    border-style:double;
    background-color: brown;
    color: gold;
    font-size: 28px;
    border-radius: 40px;
    background-image: url(./image/bi4.avif);
  }

  .skills h1{
    color:aqua;
    text-align: centre;
  }
  #container {
    display: flex;

  }
  
  aside {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
  }
  
  #container1 {
    flex-basis: 60%;
    background-color: lightgray;
    height: 300px;
    background-image: url(./image/bi3.avif);
  }

  #container h1{
    color: black;
  }
  #container1 h2 {
    text-align:centre; 
    color:red;
    font-style:unset;
  }
  #container2 {
    flex-basis: 40%;
    background-color: lightblue;
    height: 200px;
    display:flex;
  }
  #container2 h3{
    color:#111;
  }
 
  #container2 img {
    width: 70px;
    margin: 20px;
  -ms-flex-item-align: center;
    line-height: 30px;
    font-size: 30px;
    background-image: url(./image/bi3.jpg);
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: flex;
  }
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    margin: 0 20px;
    width:40px
  }
  .navigation img{
    width: 40px;
  }
  .navigation a {
    text-decoration: none;
  }
    .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    color:red;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-group textarea {
    height: 100px;
  }

  .form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
    text-decoration: none;
  }
   
